#collapseSearch {
	margin-top: 10px;
}

body {
	background: url('../images/backGround.jpg') no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#searchFilterDiv {
	width: 92%;
	padding-left: 10px;
}

.container {
	padding-top: 10px;
}